config.cfg
*config.yaml
!tests/**/config.yaml
.phpunit.result.cache
vendor/
composer.phar
php_errors.log
.idea
.php_cs.cache
.php_cs

box.json
box.phar

sw.phar
sw.phar.pubkey
sw.phar.version

src/Extensions/
!src/Extensions/Shopware
output/
