config.cfg
*config.yaml
vendor/
composer.phar
php_errors.log
.idea
.php_cs.cache
.php_cs

box.json
box.phar

sw.phar
sw.phar.pubkey
sw.phar.version

.travis/phar-private.pem
.travis/build-key.pem
.travis/secrets.tar

src/Extensions/
!src/Extensions/Shopware
