<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src')
    ->in(__DIR__.'/tests')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'array_syntax' => ['syntax' => 'short'],
        'combine_consecutive_unsets' => true,
        'hash_to_slash_comment' => true,
        'linebreak_after_opening_tag' => true,
        'short_scalar_cast' => true,
    ])
    ->setFinder($finder)
;
