{
    "chmod": "0755",
    "alias": "sw.phar",
    "compactors": [
        "Herrera\\Box\\Compactor\\Json",
        "Herrera\\Box\\Compactor\\Php"
    ],
    "directories": ["src", "assets"],
    "files": [
        "LICENSE",
        "README.md",
        "config.yaml.dist",
        "Resources/public.key",
        "vendor/autoload.php",
        "vendor/shopwarelabs/plugin-info/res/plugin-info-schema.json"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["tests"],
            "in": [
                "vendor",
                "src"
            ]
        }
    ],
    "git-version": "package_version",
    "intercept": true,
    "main": "bin/sw",
    "output": "sw.phar",
    "stub": true
}
